* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: url('/circlepointer2.png'),auto; */

}
#particles-js {
  position: fixed; 
  top: 75px;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  z-index:-1; 
  pointer-events: none; 
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* background-color: #1D1E20; */
  color: #f5f5f7;
  font-weight: 500;
  width: 800px;
  /* margin-top: 100px; */
  margin: 0 auto;
  /* padding: 30px; */
  /* overflow: hidden; */
  background-color: black;
  border-color:3px solid #e6e6e6;
  cursor: url('/circlepointer2.png'),auto;
  /* z-index: 3; */
  
  
}
@keyframes reveal{
  0%{
    transform: scale(0.7) translateX(200px);
    opacity: 0;
  }
  100%{
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}
@keyframes revealr{
  0%{
    transform: scale(0.7) translateX(-200px);
    opacity: 0;
  }
  100%{
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}



.hello span {
  opacity: 0;
  display: inline-block; /* Ensures letters animate individually */
  animation: fadeIn 1s ease 300ms;
  animation-delay: 300ms;
  /* margin-right: 0.8px; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* 
#sketch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(30, 30, 30);
  z-index: 2;  /* Canvas stays in the background */
 

@media screen and (max-width: 800px) {
  body {
    width: 90%;
    padding: 0 2rem;
  }
}

a {
  text-decoration: none;
  color: #DADADB;
}

li {
  list-style: none;
}

/* Navbar */
.nav-container {
  display: flex;
  justify-content:flex-start;
  gap : 73px;
  align-items: center;
  flex-wrap: nowrap;
  /* background-color: black; */
  padding: 1rem 0;
  z-index: 3;
  position: fixed;
  background-color:black;
  /* cursor: pointer; */
}
.inside-nav{
  display: flex;
  /* width: 100px; */
  justify-content: flex-start;
  gap : 73px;
  justify-items: center;
  flex-wrap: nowrap;
  cursor : pointer;

}
@media screen and (max-width: 768px){
  .navbar {
    /* flex-direction: column; */
    align-items: flex-start;
    padding: 1rem;
  }
  
.nav-container .logo {
  font-size: 1.5rem;
}

.inside-nav {
  /* flex-direction: column;  */
  gap: 10px; 
  justify-content:flex-start;
}

}
/* .inside-nav:hover{
  color: #ffffff;
  /* background-color: #828285; */
  /* font-weight: 120; */

.nav-container .logo {
  /* font-size: 1.5rem; */
  font-weight: bold;
}
.nav-about :hover {
  font-weight: bold;
}
.nav-skill :hover {
  font-weight: bold;
}
.nav-project :hover {
  font-weight: bold;
}
.nav-contact :hover {
  font-weight: bold;
}

.cta-btn {
  background-color: #FFCC1A;
  color: #1D1E20;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.cta-btn:hover {
  background-color: #ecf0de;
}

/* Footer */
hr {
  border: none;
  background-color: #9B9C9D;
  height: 1px;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  hr {
    width: 100%;
  }
}
h2{
  cursor:text;
}
p{
  cursor:text
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  background-color: transparent;
  /* cursor: pointer; */
}

.footer-container p {
  font-size: 0.8rem;
  color: #9B9C9D;
  /* cursor: pointer;; */

}

.footer-container .social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
  /* cursor: pointer; */
}

.footer-container .social_icons a {
  color: #9B9C9D;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
  /* cursor: pointer; */
}

.footer-container .social_icons a:hover {
  color: #DADADB;
  /* cursor: pointer; */
}

/* Hero */

.hero-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  gap: 30px;
}

.hero-container .profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

.hero-container .hero-text {
  text-align: center;
  margin: 1rem 0;
  width: 80%;
  transition-delay: 200ms;
  transition-property: all;
}

@media screen and (max-width: 768px) {
  .hero-container .hero-text {
    width: 100%;
  }
}

.hero-container .hero-text h2 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.hero-container .hero-text p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.hero-container .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
}

.hero-container .social-icons a {
  color: #9B9C9D;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.hero-container .social-icons a:hover {
  color: #DADADB;
}

/* About */
.about-container {
  padding: 2rem 0;
  border-top: 0.5px solid rgb(212, 211, 211);




  animation: revealr  ease-in-out;
  /* animation-delay: 2s; */
  animation-timeline: view();
  animation-range: entry 0% entry 100%;

  /* background-color: rgb(30, 30, 30) */
}

.about-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-container .flex-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 2rem;
}

.about-container .flex-about .about-text {
  width: 50%;
}

.about-container .flex-about .about-text p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.about-container .flex-about .about-img {
  width: 50%;
}

.about-container .flex-about .about-img .profile-img {
  overflow: hidden;
  width: 100%;
  height: 500px;
  object-fit: cover;
  border: 2px solid #DADADB;
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
  cursor: cell;
}

.about-container .flex-about .about-img .profile-img:hover {
  filter: grayscale(0%);
  transform: scale(1.02);
}

@media screen and (max-width: 768px) {
  .about-container .flex-about {
    flex-direction: column;
  }

  .about-container .flex-about .about-text {
    width: 100%;
  }

  .about-container .flex-about .about-img {
    width: 100%;
  }
}

/* Skills */
.skills-container {
  padding: 2rem 0;
  border-top: 0.5px solid rgb(212, 211, 211);




  animation: reveal ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% entry 100%;

  /* background-color: rgb(30, 30, 30) */

}

.skills-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.skills-container .grid-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .skills-container .grid-skills {
    grid-template-columns: repeat(2, 1fr);
  }
}

.skills-container .grid-skills .skill-card {
  background-color: #DADADB;
  color: #1D1E20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  cursor: context-menu;
}

.skills-container .grid-skills i {
  font-size: 1.5rem;
}

.skills-container .grid-skills .html:hover {
  background-color: #e97758;
  border: 1px solid white;
}

.skills-container .grid-skills .css:hover {
  background-color: #4465eb;
  border: 1px solid white;

}

.skills-container .grid-skills .js:hover {
  background-color: #f7e352;
  border: 1px solid white;

}

.skills-container .grid-skills .react:hover {
  background-color: #61DAFB;
  border: 1px solid white;

}

.skills-container .grid-skills .node:hover {
  background-color: #57de57;
  border: 1px solid white;

}
.skill-icon{
  margin-top: 4px;
  size: 2px;
}

.skills-container .grid-skills .python:hover {
  background-color: #4799db;
  border: 1px solid white;

}

/* Projects */
.projects-container {
  padding: 2rem 0;
  border-top: 0.5px solid rgb(212, 211, 211);


  /* background-color: rgb(30, 30, 30) */

  animation: revealr ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% entry 100%;

}

.projects-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
/* .projects-container:hover{
  border-color: white;
} */

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(0,auto);
  grid-row: 2;
  gap: 2rem;
  cursor:default;
}
/* .projects-grid:hover {
  border:2px solid white;
} */

@media screen and (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project-card {
  border: 1px solid #e6e6e6;
  padding: 20px;
  border-radius: 5px;
}
.project-card:hover {
  border:1.5px solid white;
}


.project-card .project-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.project-card .folder-icon {
  font-size: 35px;
  color: #FFCC17;
}

.project-header .small-icons {
  display: flex;
  gap: 0 5px;
}

.project-card .small-icons a {
  margin-right: 5px;
  cursor: pointer;
  transition: all .5s ease;
}

.project-card .small-icons a:hover {
  color: #FFCC17;
}

.project-card .project h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card .project p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #b3b3b3;
}
html {
  scroll-behavior: smooth;
}
section{
  padding-top: 100px;
}

/* contact */
.contact-container {
  /* background-color: rgb(30, 30, 30); */

  padding: 2rem 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  border-top:0.5px solid rgb(212, 211, 211);
  border-bottom:0.5px solid rgb(212, 211, 211);
  animation: reveal ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% entry 100%;

}

@media screen and (max-width: 768px) {
  .contact-container {
    width: 100%;
  }
}

.contact-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact-container p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

.detail-project{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}
.form-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
input{
  border-radius: 5px;
  height: 45px;
  width: 400px;
}
textarea{
  border-radius: 5px;
  height: 100px;
  width: 400px;
}
.contact-button{
  background-color: #FFCC1A;
  color: #1D1E20;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  display: inline-block;
  border: 1px solid black;
}
.contact-button:hover{
  background-color: #eed67f;

}
